*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #fff;
}

h1{
    font-family: "Sour Gummy" , "sans-serif";
    color:  #fff;
}

#navbar{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0 0.75rem;
    height: 70px;
}

#navbar ul{
    list-style-type: none;
    display: flex;
    align-items: center;
}

#navbar ul li a{
    padding: 0.5rem .5rem;
}

#navbar ul li a:hover{
    background-color: #336ea2;
    border-radius: 5px;
}

#home{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 2rem;
    border-bottom: 1px solid gray;
}

#home img{
    max-width: 30%;
    height: auto;
    border-radius: 50%;
}

#home .name h2{
    margin-bottom: .75rem;
    color: #336ea2;
    font-family: "Sour Gummy" , "sans-serif";   
}

#home .name p{
    opacity: .75;
}

#training{
    color: #fff;
    padding: 1rem;
}

#training .items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#training .items .item{
    width: 33%;
    text-align: center;
    padding: .5rem;
}

#training .items .item:hover{
    color: red;
    opacity: .75;
}

#courses{
    color: #333;
    padding: 1rem;
}

.courses{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.courses .course{
    display: flex;
    flex-direction: row;
    padding: .5rem;
    margin-bottom: .5rem;
}

.courses .course .course-image{
    margin-right: .5rem;
    position: relative;
}


.courses .course .course-image img{
    border: 1px solid black;
    border-radius: 5px;
}

.courses .course .course-image span{
    background: red;
    padding: .25rem;
    color: #fff;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    left: 0;
}

.courses .course .course-info .title{
    letter-spacing: 1.2px;
    font-weight: 700;
    margin-bottom: .25rem;
}

.courses .course .course-info .description{
    letter-spacing: 1.2px;
    margin-bottom: .25rem;
    opacity: .75;
}

.courses .course .course-info .instructor{
    font-size: .8rem;
    margin-bottom: .25rem;
    opacity: .75;
}

.courses .course .course-info .rating{
    font-size: .8rem;
    margin-bottom: .25rem;
    opacity: .75;
}